<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Participants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Participants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="participants != null">
    <div *ngFor="let participant of participants">
      <div class="d-flex-space-between margin-bottom-10 border-bottom">
        <div>
          <div>
            <label>Nom : </label>
            <span>{{participant.name}}</span>
          </div>
          <div>
            <label>Email : </label>
            {{participant.email}}
          </div>
        </div>
        <div class="d-flex">
          <ion-fab-button class="margin-right-5" (click)="displayDeleteConfirmationAlert('Supprimer ce participant?','Etes-vous sûr de vouloir supprimer ce participant?', participant)">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
          <ion-fab-button class="margin-right-5" (click)="displayEditParticipantAlert(participant)">
            <ion-icon name="pencil"></ion-icon>
          </ion-fab-button>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="displayCreateParticipantAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>